.m-l-pp {
  position: relative;
  width: 100%;
  background-color: #ecf9ff;
  height: 100%;
  min-height: 500px;
  padding-top: 50px;
  padding-left: 7.5%;
  padding-bottom: 70px;
}

@media screen and (max-width: 480px) {
  .m-l-pp {
    padding: 20px 5%;
    padding-bottom: 50px;
  }

  .m-l-pp > h1 {
    text-align: center;
  }
}

.swiperSlide-products {
  background-color: white;
  min-height: 350px;
  height: 100%;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  gap: 7px;
  padding: 10px;
  padding-bottom: 40px;
}

.swiperSlide-products p {
  font-size: 15px;
  color: #9090a7;
}

.swiperSlide-products > img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
}

/* @media screen and (max-width: 480px) {
  .swiperSlide-products {
    background-color: white;
    min-height: 60vh;
    height: 100%;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    gap: 7px;
    padding: 10px;
  }

  .swiperSlide-products p {
    font-size: 15px;
    color: #9090a7;
  }

  .swiperSlide-products > img {
    height: 200px;
    width: 100%;
    border-radius: 10px;
  }
} */
