.p-right-cnt-s {
  display: flex;
  /* position: relative; */
  /* width: 100%; */
}

.p-right-cnt-s-l {
  width: 70%;
  height: 100%;
  min-height: 100vh;
  /* border-right: 1px solid black; */
  padding: 30px;
}

.p-right-cnt-s-l > img {
  width: 100%;
  border-radius: 10px;
}

.p-right-cnt-s-l > input{
        border: 1px solid rgb(177, 177, 177);
}

.p-right-cnt-s-r {
  width: 24%;
  min-height: 100vh;
  height: 100%;
  position: fixed;
  top: 60px;
  right: 0;
  border-left: 1px solid rgb(177, 177, 177);
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.p-right-cnt-s-r a {
  color: black;
  text-decoration: none;
}

.p-right-cnt-s-r p {
  color: black;
}
